// Variables
//$green: #799700; OLD GREEN
$green: #678522;
$default-width: 800px;

@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/normalize";
@import "bootstrap/glyphicons";

$btn-success-bg: $green;
$btn-success-border: darken($btn-success-bg, 5%);

@import "bootstrap/type";
@import "bootstrap/buttons";

@import "bootstrap/navs";

@import "bootstrap/alerts";
@import "bootstrap/utilities";
@import "bootstrap/list-group";


* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
  background: url("../images/nature-transparent.png") no-repeat #b5e7f9;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: 100%;
  transform: translateZ(0);
}

h1 {
  font-weight: 100;

  @media (max-width: 600px) {
    font-size: 26px;
  }
}

h2 {
  font-size: 24px;
  color: #8a8a8a;
  font-weight: 100;
}

a {
  color: darken(#b5e7f9, 50);
  text-decoration: none;
}

.page {
  max-width: $default-width;
  margin: 0 auto;
}

header {
  background-color: #fff;
  padding: 0;
  margin-bottom: 1em;
}

.header {
  &-content {
    max-width: $default-width;
    margin: 0 auto;
  }

  &-title {
    padding: 0.5em 0;
    display: inline-block;

    @media (max-width: 600px) {
      padding: 0.5em 0 0.5em 0.25em;
    }
  }

  &-link {
    &-group {
      float: right;
      padding: 1.5em 1em;

      a {
        display: inline-block;
        vertical-align: bottom;
        padding: 0 0.75em;
      }
    }
  }
}

.week-number {
  color: $green;
}

.header-link-github {
  &:hover {
    .octocat-eyes {
      transform-origin: 15px;
      animation: blink 4s infinite;
      animation-delay: .1s;
    }
  }
}

@keyframes blink {
  0% {
    transform: rotateX(0deg);
  }

  7% {
    transform: rotateX(60deg);
  }

  14% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.house {
  &-link {
    @media (max-width: 600px) {
      max-width: 30px;
      padding: 1em;
    }
  }

  &-icon {
    fill: lighten($green, 6);
    transition: all .2s linear;
    overflow: visible;
    max-width: 100%;

    .door {
      transition: all .2s linear;
      transform-origin: 0 0 0;
    }

    &:hover {
      fill: $green;

      .door {
        opacity: 0;
        transform: rotateY(10deg);
      }
    }
  }
}

.display-inline {
  display: inline !important;
}

// Content
.list-group {
  margin: 0;

  &-item {
    transition: background-color .5s linear,
                box-shadow .2s linear,
                max-height .2s linear;

    max-height: 45px;

    &:hover {
      .action-icon {
        display: inline-block;
      }
    }

    &.new {
      background-color: $alert-success-bg;
    }

    &.answer {
      background-color: $alert-success-bg;
    }

    &.delete {
      background-color: $alert-danger-bg;
    }

    .status-text {
      color: $alert-danger-text;
      display: inline-block;
      padding-left: 6px;

      &.green {
        color: $alert-success-text;
      }
    }

    &.fade-out {
      animation: fadeOut 1000ms linear;
    }
  }
}

.prayer-list {
  margin-bottom: 20px;
}

// Icons
$fill: #ddd;
.action {
  &-icon {
    box-sizing: content-box;
    cursor: pointer;
    width: 18px;
    height: 18px;
    padding: 0 0.75em;
    vertical-align: middle;
    display: none;
    fill: $fill;
  }

  &-answer {
    width: 23px;

    &:hover,
    &.hover {
      fill: $green;
    }
  }

  &-delete {

    &:hover,
    &.hover {
      fill: $alert-danger-text;
    }
  }

  &-edit {
    height: 20px;
    width: 20px;

    .st0 {
      opacity: 0.75;
      fill: #eee;
    }

    &:hover,
    &.hover,
    .edit-mode & {
      fill: darken(#fbed50, 17);

      .st0 {
        fill: darken($fill, 23);
      }

      .st2 {
        fill: lighten(desaturate(#a97042, 10), 20);
      }

      .st3 {
        fill: darken($fill, 15);
      }
    }
  }
}

.button {
  &-cancel {
    margin-right: 0.5em;
  }
}

.item {
  &-edit {
    display: none;
    border: none;
    width: 60%;

    &-details {
      @extend .item-edit;

      clear: both;
      width: auto;
      margin-top: 14px;
    }

    &:focus {
      outline: none;
    }
  }
}

.date {
  &-edit {
    width: 156px;
    text-align: right;
  }
}

.edit-mode {
  box-shadow: 0 0 9px #777;
  z-index: 10;
  overflow: hidden;
  max-height: 120px;

  .action {
    &-delete,
    &-answer {
      display: none !important;
    }

    &-edit {
      display: inline-block;
    }
  }

  .item {
    &-label {
      display: none;
    }

    &-edit {
      display: inline;

      &-details {
        display: block;
      }
    }
  }
}

.empty {
  &-list {
    padding: 1em;
    background-color: #fff;
    display: block;
  }
}

.error {
  &-message {
    display: inline-block;
    float: left;
    color: $alert-danger-text;
    border-radius: $border-radius-base;

    &.active {
      padding: 7px 10px;
      background: $alert-danger-bg;
      border: 1px solid $alert-danger-border;
    }

    &.fixed {
      position: fixed;
      top: 1em;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* =============== Add Request ================ */
.add-request {
  &-container {
    float: right;
    text-align: right;
  }

  &-input {
    animation: fadeIn 0.3s linear;

    display: inline-block;
    vertical-align: middle;
    width: 300px;
    font-size: 14px;
    border-radius: $border-radius-base 0 0 $border-radius-base;
    border: 1px solid $btn-default-border;
    border-width-right: 0;
    background-color: #fff;
    transition: opacity .2s linear;

    &.sending {
      opacity: 0.85;
    }
  }

  &-title,
  &-date {
    width: 66%;
    padding: 7px;
    border: none;
    outline: none;
    display: inline-block;
    background-color: transparent;
  }

  &-date {
    float: right;
    width: 33%;
    border-left: 1px solid $btn-default-border;
  }

  &-button {
    &.opened {
      border-radius: 0 $border-radius-base $border-radius-base 0;
      border-left-width: 0;
    }
  }

  &-error {
    clear: both;
    padding: 6px;
    background: $alert-danger-bg;
    color: $alert-danger-text;
    border: 1px solid $alert-danger-border;
    margin-top: 4px;
    border-radius: $border-radius-base;
  }
}

/* =============== END: Add Request ================ */

.bear {
  position: absolute;
  margin-top: -1.5em;

  img {
    position: relative;
    // Actually disabling the swinging motion as I felt it was distracting
    //will-change: transform;
    //transform: translateZ(0);
    //transform-origin: top;
    //animation: swing infinite 6s linear;
  }


}

@keyframes swing {
  0% { transform: rotateX(0deg); }
  23% { transform: rotateX(-29deg); }
  25% { transform: rotateX(-30deg); }
  27% { transform: rotateX(-29deg); }

  50% { transform: rotateX(0deg); }

  73% { transform: rotateX(39deg); }
  75% { transform: rotateX(40deg); }
  77% { transform: rotateX(39deg); }

  100% { transform: rotateX(0deg); }
}

.cloud {
  position: fixed;
  left: 92%;
  top: 18%;
  z-index: -1;
  transform: translateX(0) translateZ(0);
  opacity: 0.5;


  animation: cycle infinite 160s linear;
}

@keyframes cycle {
  0% {
    transform: translateX(0) translateZ(0);
    opacity: 0;
  }

  3% {
    opacity: 0.2;
  }

  12% {
    opacity: 0.5;
  }

  94% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(-1500px) translateZ(0);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    width: 220px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  49% {
    display: block;
    transform: matrix(1, 0, 0, 0.01, 0, -20);
    opacity: 0;
  }

  50% {
    display: none;
  }
  100% {
    display: none;
    transform: matrix(1, 0, 0, 0.01, 0, -20);
    opacity: 0;
  }
}

// Bootstrap overrides {
.alert {
  transition: all .2s linear;
}

.nav-tabs > li > a {
  background-color: rgba(#fff, 0.5);
  transition: background-color .2s linear;

  &.success {
    background-color: rgba($alert-success-bg, 1);
  }
}
