<li class="list-group-item">
    <span class="item-title">{{Title}}</span>
    <label for="edit_{{Id}}" class="hidden">Edit Title</label>
    <input type="text" id="edit_{{Id}}" class="action-edit-input item-edit"/>
    <span class="pull-right text-muted">{{Date}}</span>
    <svg class="pull-right action-icon action-delete"><use xlink:href="../global/assets/images/spritemap.svg#remove"></use></svg>
    {{#unless Answered}}
        <svg class="pull-right action-icon action-answer"><use xlink:href="../global/assets/images/spritemap.svg#checkmark"></use></svg>
    {{/unless}}
    <svg class="pull-right action-icon action-edit"><use xlink:href="../global/assets/images/spritemap.svg#edit"></use></svg>
</li>